<h1>{{name}}</h1>


<div class="panel panel-warning text">
    <div class="panel-heading">
        <h1>Porridge bowl</h1>
        <p class="costs">Market price: 5c</p>
        </div>

        <div class="panel-body">
            This item can hold a single alchemic porridge.<br />
            You can eat the porridge from this bowl. This will take 1 minute.<br />
            If this is the first time this specific substance is consumed by a mortal, contact a GM before eating.<br />
            Any alchemic porridge kept in this bowl expires in half an hour.<br />
            <br />
            Porridge is cooked ingredients and is meant to be eaten hot.
        </div>
    </div>
